<div class="rounded cityguide" id="section-cityguide">
    <h2> Locais e Informações </h2>

    <div class="soon">
      <div class="dino"></div>
      <p>em breve mais informações</p>
    </div>
    
</div>
