<div class="rounded lineup" id="section-lineup">
    <h2> Programação </h2>

    <div class="soon">
      <div class="dino"></div>
      <p>em breve mais informações</p>
    </div>
    <div class="tutorial">
      <h3>Submissão de palestras Caypira 2020</h3>
      <p>Como nas edições anteriores, o Caipyra abrirá espaço para qualquer pessoa submeter palestras para uma votação aberta pelo SpeakerFight. Logo, procuramos pessoas com diferentes backgrounds e experiências para contribuir com o programa de atividades do evento! Se você usa Python profissionalmente, como um hobby ou é apenas uma pessoa interessada em programação e comunidades <i>open source</i>, adoraríamos ver você compartilhando seu conhecimento conosco!</p>
      <br>
      <p>Além das palestras tradicionais, durante o evento irão ocorrer Lightning talks, onde qualquer pessoa presente pode fazer uma apresentação curta, de 5 minutos, sobre o tema que quiser: desde um projeto até uma rima, nesses 5 minutos só não vale quebrar o código de conduta.</p>
      <a  target="_blank" class="button">Em breve</a>
    </div>
</div>
