
<div class="rounded location" id="section-locations">
    <h2> Locais e Informações </h2>

           
    <div class="tutorial">
      <h3>Tutoriais, Django Girls e Sprints</h3>
      <img src="/assets/images/locations/local.png">
      <p>em breve.</p>
    </div>

        <div class="tutorial">
      <h3>Palestras</h3>
      <img src="/assets/images/locations/palestras.png">
      <p>em breve.</p>
    </div>

</div>
